.title {
  font-size: 2.5em;
  padding: 1rem 0;
  text-align: center;
  text-transform: capitalize;
}

.task-card {
  flex: 1 1 auto;
  position: relative;
  max-width: 40em;
  box-shadow: 0 4px 8px 0 #484848;
  overflow: hidden;
  border-radius: 1.5rem;
  padding: 1.5rem;
  margin: 1rem;
  background-color: #00000052;
}
.task-card:hover {
  box-shadow: 0 4px 8px 0 #484848, 0 6px 20px 0 #484848;
}

.task-title {
  margin-right: 4rem;

  font-size: 2em;
  padding: 1rem 0;
}

.task-desc {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5;
}

button {
  padding: 8px 20px;
  margin: 8px 4px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 8px;
  background-color: #000000;
}
button:active {
  transform: scale(0.98);
}
button:focus {
  outline: none;
}
/* bro take color consideration from a palate */
.edit {
  position: absolute;
  background-color: #19682c;
  /* color: #000000; */
  top: 2px;
  right: 2px;
}
